h1{
  text-align:center;
  font-size: 20px;  
}

body{
  margin: 3% 10% 3%;
}

body>section{
  max-width: 700px;
  border: 1px solid #cbccc1;
  margin: 5px auto;
  padding: 5px;
}

article figure, article section{
  display: inline-block;
}
 
.left{
  float: left;
  width: 50%;
  margin-left: 10px;
  margin-bottom: 15px;
}

.perfil{
	width: 20%;
}

.educacion{
  width: 30%;
}

.datos{
  text-align: center;
}

 p{
	 margin:0;
 }

.habilidad>span{
  display: inline-block;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 5px;
  background-color: #2347C5;
}

.habilidad{
  margin:10px 40px;
  display: inline-block;
  border-radius: 5000000px;
  border: 1px solid gray;
  background-color: #B8B8B8;
  padding: 5px;
  box-shadow: 2px 2px 5px #888888;
}
