#titulo-sitio{
	font-size: 4em;
	color: #d39a0a;
	text-shadow: 1px 1px #bc8609;
}
body{
	background: url('https://bondingwithfood.files.wordpress.com/2012/05/fork.jpg');
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: left;
}

.resumen{
	border: 1px solid gray;
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width:15%
  
}

a:hover{
	text-decoration:none;
	color: #edc163;
}

a:visited{
	color: #7c652e;
}

a{
	font-variant:small-caps;
	text-decoration:underline;
	color: #db990a;
}


#camarones{
	background: url('http://images-gmi-pmc.edge-generalmills.com/9c2065a7-ae5d-45c8-879f-aa0a5385dd98.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170%;
}

#brocheta{
	background: url('http://images-gmi-pmc.edge-generalmills.com/3cdeb363-79bd-4a58-bdce-2d4f96c58465.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170%;
}

#mango{
	background: url('https://cdn.kiwilimon.com/recetaimagen/26190/thumb400x300-23219.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170%;
}

#arroz{
	background: url('http://images-gmi-pmc.edge-generalmills.com/8b79836e-e3b4-4099-bf3b-79a21257b759.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170%;
}

.categoria{
	color:#d69f2a;
	background-color:white;
	opacity:0.9;
	text-align: center;
	border-radius:10px;
}

.descripcion{
	background-color: white;
	opacity:0.9;
	border-radius:10px;
}

.resumen:hover{
	opacity: 0.7;
}

.imgreceta{
	float:left;
	width:10%;
	margin-right:10px;
}

.receta{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border-bottom: 1px dotted #d7d8cb;
	background-color: rgba(208,186,119,0.7);

}

.receta div{
	display:inline-block
}



